#lista-produtos{
    margin: 100px;
}

#botao-login{
    width: 200px;
    font-weight: bold;
    font-size: 1.2rem;
    background-color:  rgb(219, 14, 202);
    border: none;
    margin-left: 20px;
}

#botao-finalizar-compra{
    background-color: #a5ce37;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0px 20px 5px 20px;
    border: none;
    border-radius: 7px;
    display: block;
    margin: 100px auto 0 auto;
}

#botao-carrinho{
    margin-left: 50px;
    background-color: #a5ce37;
    border: none;
}

.card-preco{
    text-align: center;
    font-size: 2rem;
    color: rgb(219, 14, 202);
    font-weight: bold;
}

.card{
    border: none;
    box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.1);
}

.card-title{
    font-weight: 600;
    text-align: center;
}

.botao-comprar{
    background-color: #a5ce37;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0px 20px 5px 20px;
    border: none;
    border-radius: 7px;
    display: block;
    margin: 20px auto 0 auto;
}

.cada-cartao{
    margin-bottom: 60px;
    width: 300px;
}

.cada-cartao img{
    height:400px;
    object-fit:cover;
}

#container-login{
    box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.1);
    max-width: 700px;
    font-size: 1.5rem;
    padding: 50px;
}

#container-cadastrar{
    box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.1);
    max-width: 700px;
    font-size: 1.4rem;
    padding: 50px;
}